
* {
    box-sizing: border-box;


}

body .container{
    max-width: 100%;
    margin: 0 auto;
}
/* UpperNav Section Below */


#upper-nav{
    position: relative;
    margin-top: 0.8vw;
    background-color: #fff;
    max-width: 100%;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 1vw;
    font-family: Avenir,sans-serif;
    
}

@media screen and (max-width: 600px) {
#upper-nav {
    position: absolute;
    display: inline-block;
    
}
#lower-nav {
    position: absolute;
}


#lower-nav .lower-menu {
text-align: left;
padding: 20px 120px;

}

.scroll{
    display: none;
}

.up{
    display: none;
}


}


#upper-nav .shipping{
    display: inline-block;
    margin-left: 1.5vw;
    font-size: 1vw;
    color: rgb(252, 0, 0);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-style: solid;
    letter-spacing: 1px;
}

#upper-nav .upper-menu{
   float: right;
   margin-right: 2.5vw;
   
}



#upper-nav .upper-menu a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-right: 2px;
}



#upper-nav .upper-menu a:hover{
color: #cbcbcb;
text-decoration: underline;
}


/* LowerNav Section Below */
/* Come back and move Up text for Lower-Nav a href tag*/
#lower-nav{
background-color: #E6E8E4;
position: relative;
max-width: 100%;
border-bottom: 1px solid #cbcbcb;
font-family: Avenir,sans-serif;


}



#lower-nav .logo img{
    margin-left: 2.2vw;
    margin-top: 1.1vw;
    max-width: 50%;
    display: inline-block;

}

#lower-nav .lower-menu{
    display: inline-block;
    padding-left: 2vw;
    max-width: 75%;
    margin-right: 20px;


}

#lower-nav .lower-menu a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
    padding-left: 60px;

}

input[type=text] {
    margin-left: 5px;
    margin-bottom: -10px;
    padding-right: 10px;
    font-family: Avenir,sans-serif;
    display: inline-block;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    max-width: 50%;
    height: 26px;
    text-align: right;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    opacity: 0.9;

}

/* First and Second photo below */

.first-photo img{
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    margin-top: 20px;
    vertical-align: top;
    z-index: -2;

}

.second-photo img{
    display: block;
    margin: auto;
    border: 0px solid;
    border-radius: 100px;
    width: 14.5%;
    min-width: 10%;
    z-index: 1;
    margin-top: -8.5%;

}

.about .title{
    text-transform: uppercase;
    font-family: Bebas,sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.1vw;
    margin-top: 2%;
    letter-spacing: -3px;
    

    }


.about .info1{
    width: 31%;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2vw;
    display: inline-block;
    margin-left: 5px;
    font-family: Avenir,sans-serif;
    line-height: 1.2;

}

.about .info1 span{
    font-weight: bold;

}

.about .info2{
    width: 33%;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2vw;
    display: inline-block;
    margin-left: 5px;
    font-family: Avenir,sans-serif;
    line-height: 1.2;
}

.about .info2 span{
    font-weight: bold;

}

.about .info3{
    width: 28%;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2vw;
    display: inline-block;
    margin-left: 5px;
    font-family: Avenir,sans-serif;
    line-height: 1.2;
    vertical-align: top;

}

.about .info3 span{
    font-weight: bold;

}

/* Dylan Pictures Below */



.photos .dylan-photos1 img{
    max-width: 85%;
    margin-top: 2vw;
    margin-left: 6vw;
    
    
}

.photos .dylan-photos2 img{
    max-width: 85%;
    margin-top: 2vw;
    margin-left: 6vw;

}

.photos .dylan-photos3 img{
    max-width: 85%;
    margin-top: 5vw;
    margin-left: 6vw;

}

.photos .dylan-photos4 img{
    max-width: 85%;
    margin-top: 5vw;
    margin-left: 6vw;

}

.photos .dylan-photos5 img{
    max-width: 90%;
    margin-top: 2vw;
    margin-left: 6vw;

}

.photos .dylan-photos6 img{
    max-width: 90%;
    margin-top: 2vw;
    margin-left: 6vw;

}

/* Footer Content Below */

#footer{
    
background-color: #E6E8E4;
position: relative;
max-width: 100%;
border-top: 1px solid #cbcbcb;
font-family: Avenir,sans-serif;

}

#footer input{
display: inline-block;  
margin-left: 26vw;
font-size: 1.9vw;
width: 35vw;
padding-left: 1vw;
padding: .4vw;
color: black;
margin-top: 3vw;
font-family: Avenir,sans-serif;
opacity: 0.6;
letter-spacing: 1px;
border: none;


}

#footer button{
    display: inline-block;
    cursor: pointer;
    font-family: Avenir,sans-serif;
    font-size: 1.2vw;
    text-transform: uppercase;
    background-color: black;
    color: white;
    margin-left: -0.5vw;
    width: 17vw;
    height: 3.1vw;
    letter-spacing: 1px;

}

#footer button:hover{
   border: 4px solid white;

}

#footer p{
    font-size: 0.8vw;
    font-family: Avenir,sans-serif;
    color: black;
    letter-spacing: 1px;
    margin-top: 1.5vw;
    text-align: center;

}
.up{
    font-size: 42px;
    color: black
}
.scroll{
    display: none;
    border: 4px solid lightgray;
    background-color: lightgray;
    z-index: 1000;
    position: fixed;
    left: 78em;
    top: 36em;
}
.scroll:hover{
    cursor: pointer;
    background-color: darkgray;
    border-color: darkgray;
}
